{{#if success}}
<div class="auth-success">
  {{msg "verifyEmailSuccess"}}
</div>
<p style="text-align: center; margin-top: 1rem;">
  <a href="/realms/{{realmName}}/login" class="btn-primary" style="display: inline-block; text-decoration: none;">{{msg "verifyEmailSignIn"}}</a>
</p>
{{else}}
<div class="auth-error">
  {{#if error}}{{error}}{{else}}{{msg "verifyEmailInvalid"}}{{/if}}
</div>
<p style="text-align: center; margin-top: 1rem;">
  <a href="/realms/{{realmName}}/login" style="color: #4f46e5; text-decoration: none;">{{msg "verifyEmailBackToSignIn"}}</a>
</p>
{{/if}}
